@{
    ViewData["Title"] = "Home Page";
}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Product Market</h1>
            <p class="lead text-body-secondary">Buy and Sell any type of local products</p>
            <p>
                <a asp-controller="Product" asp-action="Index" class="btn btn-primary">Product Page</a>

                <a asp-controller="Home" asp-action="Privacy" class="btn btn-primary">About this page</a>
            </p>
        </div>
    </div>
 
</section>
