@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<body>
    <div class="container">
        <p>
            This website is created for the sole purpose of practicing web development skills.
            All products displayed on this site are fictitious and used for educational purposes only.
            No real transactions or services are offered on this website.
        </p>
        <p>
            If you have any questions or concerns regarding the content or practices of this website,
            please feel free to contact us.
        </p>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
